body {
    background-color: #000030;
    overflow: hidden;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.MenuOutline {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0.6;
    z-index: 3;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid;
}

.MenuOutlineNoRound {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.6;
    z-index: 3;
}

.Menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    margin-left: -40%;
    margin-top: -40%;
    text-align: center;
    z-index: 2;
    opacity: 0;
    display: none;
}

.MenuShow {
    display: table !important;
}

.LargeText {
    font-size: x-large;
}

.SLargeText {
    font-size: xx-large;
}

.XLargeText {
    font-size: 800%;
}

.WhiteText {
    color: white;
}

.MenuContent {
    position: relative;
    z-index: 4;
    height: 100%;
    overflow-y: auto;
}

.AlignCentre {
    vertical-align: middle;
    display: table-cell;
}

.AlignLeft {
    display: block;
    text-align: left;
    margin-left: 30px;
}

.AlignRight {
    display: inline;
    float: right;
    margin-right: 10px;
}

input[type="text"],
input[type="password"] {
    transition: all 1.5s ease;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-style: solid;
    background: #eae7e7;
    margin-bottom: 5px;
    padding: 5px 10px;
    width: 70%;
    color: #777;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    background: #FFFFFF;
}

.FadeIn {
    opacity: 1.0 !important;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-delay: 0s;
    transition-property: opacity;
    transition-duration: 0.35s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.FadeOut {
    opacity: 0.0 !important;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-in;
    -webkit-transition-delay: 0s;
    transition-property: opacity;
    transition-duration: 0.35s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}